.mw-changeslist-src-mw-edit .unpatrolled {
	display: inline !important;
}
#mw-diff-ntitle4 .patrollink {
	display: inline !important;
}
#mw-content-text span.patrollink {
	display: inline !important;
}

/* 將回退功能的編輯視為已巡查 */
.mw-tag-mw-rollback .unpatrolled {
	display: none !important;
}

#pagehistory li.gadget-rcp-autopatrolled {
	background-color: #eaf3ff;
}
#pagehistory li.gadget-rcp-patrolled {
	background-color: #eaf3ff;
}
#pagehistory li.gadget-rcp-pending {
	background-color: #fff2cc;
}

.gadget-rcp-hist-basic-auto,
.gadget-rcp-hist-basic-user,
.gadget-rcp-hist-difflink {
	font-size: 85%;
}
