.mw-changeslist-src-mw-edit .unpatrolled {
	display: inline !important;
}
#mw-diff-ntitle4 .patrollink {
	display: inline !important;
}
#mw-content-text span.patrollink {
	display: inline !important;
}

#pagehistory li.gadget-rcp-autopatrolled {
	background-color: #eaf3ff;
}
#pagehistory li.gadget-rcp-patrolled {
	background-color: #eaf3ff;
}
#pagehistory li.gadget-rcp-pending {
	background-color: #fff2cc;
}

.gadget-rcp-hist-basic-auto,
.gadget-rcp-hist-basic-user,
.gadget-rcp-hist-difflink {
	font-size: 85%;
}

.gadget-rcp-diff-ratings {
	font-size: 90%;
	font-weight: bold;
	line-height: 1em;
	width: 100%;
}

.gadget-rcp-diff-patrolled {
	background-color: #eaf3ff;
}
.gadget-rcp-diff-pending {
	background-color: #f8f9fa;
}
